@keyframes ldio-pqopk6gx6n {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
  }
  .ldio-pqopk6gx6n div { box-sizing: border-box!important }
  .ldio-pqopk6gx6n > div {
	position: absolute;
	width: 84px;
	height: 84px;
	top: 8px;
	left: 8px;
	border-radius: 50%;
	border: 4px solid #000;
	border-color: #34495e transparent #34495e transparent;
	animation: ldio-pqopk6gx6n 0.8849557522123893s linear infinite;
  }
  
  .ldio-pqopk6gx6n > div:nth-child(2), .ldio-pqopk6gx6n > div:nth-child(4) {
	width: 74px;
	height: 74px;
	top: 13px;
	left: 13px;
	animation: ldio-pqopk6gx6n 0.8849557522123893s linear infinite reverse;
  }
  .ldio-pqopk6gx6n > div:nth-child(2) {
	border-color: transparent #e74c3c transparent #e74c3c
  }
  .ldio-pqopk6gx6n > div:nth-child(3) { border-color: transparent }
  .ldio-pqopk6gx6n > div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
  }
  .ldio-pqopk6gx6n > div:nth-child(3) div:before, .ldio-pqopk6gx6n > div:nth-child(3) div:after { 
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	top: -4px;
	left: 36px;
	background: #34495e;
	border-radius: 50%;
	box-shadow: 0 80px 0 0 #34495e;
  }
  .ldio-pqopk6gx6n > div:nth-child(3) div:after {
	left: -4px;
	top: 36px;
	box-shadow: 80px 0 0 0 #34495e;
  }
  
  .ldio-pqopk6gx6n > div:nth-child(4) { border-color: transparent; }
  .ldio-pqopk6gx6n > div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
  }
  .ldio-pqopk6gx6n > div:nth-child(4) div:before, .ldio-pqopk6gx6n > div:nth-child(4) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	top: -4px;
	left: 31px;
	background: #e74c3c;
	border-radius: 50%;
	box-shadow: 0 70px 0 0 #e74c3c;
  }
  .ldio-pqopk6gx6n > div:nth-child(4) div:after {
	left: -4px;
	top: 31px;
	box-shadow: 70px 0 0 0 #e74c3c;
  }
  .loadingio-spinner-double-ring-2y4faxn968j {
	width: 78px;
	height: 78px;
	margin: auto;
	display: inline-block;
	overflow: hidden;
	background: #303030;
  }
  .ldio-pqopk6gx6n {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(0.78);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
  }
  .ldio-pqopk6gx6n div { box-sizing: content-box; }